@import url(http://weloveiconfonts.com/api/?family=iconicstroke);

/* iconicstroke */
[class*="iconicstroke-"]:before {
  font-family: 'IconicStroke', sans-serif;
}

body {
	overflow: hidden;
	background: rgb(218, 132, 74);
	margin: 40px;
	font: 16px 'Open Sans Condensed', sans-serif;
}

figure {
	margin: 0;
	padding: 0;
	width: inherit;
	height: inherit;
	text-align: center;
	position: relative;
	top: 0;
	left: 0;
}

.arrow-right {
	width: 16px;
	height: 16px;
	background: url(demo/dom/arrow-right.png) transparent no-repeat center;
}

#basic-button {
	overflow: hidden;
	border-style: solid;
	position: relative;
	cursor: pointer;
	box-sizing: border-box;
}
label {
	pointer-events: none;
	position: absolute;
	font-variant: small-caps;
	font-size: 17px;
	font-weight: bold;
	color: rgb(80,80,80);
}
.icon {
	-webkit-transform-origin: 50% 33%;
	-moz-transform-origin: 50% 33%;
	-ms-transform-origin: 50% 33%;
	-o-transform-origin: 50% 33%;
	transform-origin: 50% 33%;
	color: white;
}


/* HAMBURGER ! */

.hamburger-button {
	overflow: hidden;
	border-style: solid;
	position: relative;
	cursor: pointer;
	box-sizing: border-box;
}
.hamburger-bar {
	position: absolute;
	display: block;
}
