
.keytime-editor-container {
	z-index: 10000;

}

.flip {
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	height: 100%;
	border-style: solid;
	-webkit-perspective: 800;
	-moz-perspective: 800;
	-ms-perspective: 800;
	-o-perspective: 800;
	perspective: 800;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.widget {
	position: absolute;
	margin: 0;
	overflow: hidden;
	text-align: center;
}

.widget.text {
	
}

/* Some default styling for our DOM element. */
.box, .main {
	background-color: white;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;	
    color: white;

    margin: auto;
    cursor: pointer;
    text-align: center;
	
	border: 0px solid black;
	display: inline-block;
	overflow: hidden;
}

.main {
	width: 400px;
	height: 200px;
	position: absolute;
	top: 0;
	overflow: visible;
	left: 0;
}
.info {
	position: absolute;
	top: 20px;
	left: 20px;
	margin: 0;
}
p {
	margin: 2px;
}

body {
	overflow: hidden;
	font: 16px 'Helvetica', sans-serif;
}